@import "~bootstrap/scss/bootstrap.scss"

.pagination
	float: right
.users-table
	width: 100%
	div > span
		&:nth-child(2)
			overflow: hidden
			word-break: break-word
			white-space: nowrap
			flex-grow: 3
		&:nth-child(3)
			flex-basis: 50px
			flex-grow: 1

.btn-toolbar.registrations
	display: flex
	justify-content: space-evenly
	margin: 1rem 0

.sortable
	&.desc .dir
		transform: rotate(0.5turn)
	&:hover
		cursor: pointer
	.dir
		margin-left: 0.25rem
		color: $gray-400
		transition: 0.2s ease-in-out
		-webkit-text-stroke: 1px $gray-600
		opacity: 0.25
		&:hover
			opacity: 0.5
	&.asc, &.desc
		.dir
			opacity: 1

.check-mark
	font-weight: bolder
	float: right

.users-table .user-type
	width: 15px
	height: 15px
	margin-left: 0.2rem
	border-radius: 50%
	border: 1px solid transparent
	&.primary
		background: $primary
		border-color: darken($primary, 10%)
	&.danger
		background: $danger
		border-color: darken($danger, 10%)
	&.warning
		background: $warning
		border-color: darken($warning, 10%)

.users-table.custom-table
	.header > div
		border-top: 2px solid $gray-200
		border-bottom: 1px solid $gray-200
		border-radius: 4px 4px 0 0
	&.employees .header > div
		background: transparentize($primary, 0.8)
		border-color: transparentize($primary, 0.2)
	&.guests .header > div
		background: transparentize($warning, 0.8)
		border-color: transparentize($warning, 0.2)
	&.admins .header > div
		background: transparentize($danger, 0.8)
		border-color: transparentize($danger, 0.2)

.modal-header .modal-title
	display: flex
	align-items: center
	.back-icon
		font-size: 1.5rem
		line-height: 1.25rem
		padding: 0.25rem
		margin-right: 0.25rem

.modal-body button[type="submit"]
	float: right

.tab-content
	margin-top: 1rem
