@import "~bootstrap/scss/bootstrap.scss"

.custom-table
	.header > div
		border-top: 2px solid $gray-200
		border-bottom: 1px solid $gray-200
		border-radius: 4px 4px 0 0

.custom-table.orders-table
	.header > div, .body > div
		display: grid
		grid-template-columns: 50px 100px 90px 3fr 80px 1fr 120px