@import "~bootstrap/scss/bootstrap"

.homepage .lander
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 1rem
	@media screen and (max-width: 768px)
		flex-direction: column
	max-width: 1140px
	//border-radius: 5rem
	overflow: hidden

.homepage .lander a.img-button
	position: relative
	min-height: 300px
	border: 3px solid $primary
	transition: 0.2s ease-in-out
	border-radius: 1rem
	@media screen and (max-width: 768px)
		max-height: 150px
		min-height: auto
	&:hover
		background: transparentize($primary, 0.9)
		span.text
			top: 75%
			opacity: 1
			letter-spacing: 2px
	&:link, &:visited
		color: $primary
	&:hover
		text-decoration: none
	span.text
		text-transform: uppercase
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		letter-spacing: -10px
		font-weight: bold
		opacity: 0
		transition: opacity 0.2s linear, top 0.3s ease-in-out, letter-spacing 0.5s ease-out
		font-size: 1.25rem
		width: 100%
		text-align: center
	span.icon
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
