.loginPage
	min-height: calc(100vh - 76px)
	display: grid
	grid-template-columns: 0 1fr 0
	@media screen and (min-width: 400px)
		grid-template-columns: 1fr 400px 1fr
	align-items: center
	div
		width: 100%

.row > .central
	max-width: 400px

#loginForm
	grid-column: 2 / 3
	padding: 1rem
	background: #eee
	border-radius: .3rem
