@import "~bootstrap/scss/bootstrap"
.navbar
	.container
		display: flex
		align-items: center
	img.logo
		max-height: 50px

	.navbar-text
		display: flex

	.username
		min-width: 150px
		display: flex
		flex-direction: column
		color: $light
		align-items: flex-end