@import ~bootstrap/scss/bootstrap

.shop
	display: grid
	grid-template-columns: 1fr 350px
	.row
		max-width: 100vw
		margin: 0
	.col-md-8, .col-md-4
		padding: 0

.negative
	color: $danger

.products-list
	display: grid
	flex-wrap: wrap
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr))
	grid-auto-rows: 1fr
	grid-gap: 0.25rem
	margin: 0 0.5rem
	&::before
		content: ''
		width: 0
		padding-bottom: 100%
		grid-row: 1 / 1
		grid-column: 1 / 1

	& > *:first-child
		grid-row: 1 / 1
		grid-column: 1 / 1

	.product
		position: relative
		transition: 0.2s ease-in-out
		z-index: 0
		.cost
			font-size: 1.25rem
			font-weight: bold
		img
			height: 100%
			width: 100%
			opacity: 0.8
			transition: 0.2s ease-in-out
			z-index: 0

			&.alt
				position: absolute
				top: 0
				left: 0
				display: block
				animation-name: blink_animation
				animation-duration: 0.5s
				animation-timing-function: ease-out

		&:hover
			cursor: pointer
			box-shadow: 0 0 0 0.25rem $gray-300
			.product-info
				opacity: 0.25
			img
				opacity: 1


	.product-img
		height: 100%
		width: 100%
		background: $gray-100
		border: 1px solid $gray-400

	.product-info
		background: $light
		bottom: 0
		width: 100%
		position: absolute
		display: flex
		flex-direction: column
		text-align: center
		opacity: 0.8
		border: 1px solid $gray-400
		transition: 0.2s ease-in-out
		transform-origin: bottom

.empty-cart
	text-align: right
	padding: 0.25rem 1rem


.shopping-cart
	width: 350px
	position: fixed
	top: 140px
	right: 0
	box-shadow: 0 0 0.5rem 0 $gray-500
	padding: 0.5rem 0 0
	background: $dark
	color: $light
	border-radius: 0.5rem 0 0 0.5rem
	border: 2px solid $gray-900
	border-right: none

	& > h3
		text-align: right
		margin: 0 1rem

	& > hr
		background: $gray-600
		margin: 0.25rem 0 0
		height: 1px

	.products
		max-height: 50vh
		overflow: scroll

	.cart-item
		padding: 0.5rem
		padding-right: 0.75rem
		display: grid
		grid-template-columns: 2rem 1fr 2.5rem 5.25rem
		justify-content: space-between

		&:nth-child(2n)
			background: $gray-700

		&:not(:last-child)
			border-bottom: 1px solid $gray-600

		span
			display: flex
			align-items: center
			justify-content: flex-start
			&:not(:nth-child(2))
				justify-content: flex-end
			&:nth-child(2)
				margin-left: 0.5rem

		.delete-item
			font-size: 0.75rem
			padding: 0
			height: 2rem
			width: 2rem
			font-weight: bolder

		& > div
			display: flex
			flex-direction: row

		.cost
			margin-left: 0.5rem


		& > div:last-child span
			justify-content: flex-end
			&:first-child
				flex-basis: 3rem

	.total-order
		font-size: 1.35rem
		font-weight: bold
		padding: 0.25rem 0.5rem
		display: flex

		//display: grid
		//grid-template-columns: 1fr 6rem
		justify-content: flex-end

		span
			margin-left: 0.5rem
			display: flex
			align-items: center
			justify-content: flex-end

	.buyout button
		width: 100%
		padding: 0.5rem 1rem
		font-weight: bold
		font-size: 2rem
		border-radius: 0.35rem 0 0 0.35rem

.badge-id
	opacity: 0
	position: absolute

@keyframes blink_animation
	0%
		opacity: 0.8
		transform: scale(1)
		-webkit-transform: scale(1)
	75%
		opacity: 0
	100%
		opacity: 0
		transform: scale(1.5)
		-webkit-transform: scale(1.25)
