@import "~bootstrap/scss/bootstrap"

.inputfile
	display: none

.uploader, .deleter
	width: auto
	font-weight: normal
	font-size: 0.8rem
	float: right
	margin: 0.25rem
	&:hover
		cursor: pointer
.uploader
	color: $primary
	&:hover
		color: darken($primary, 10%)
.deleter
	color: $text-muted
	&:hover
		color: darken($text-muted, 10%)

.custom-table .icon, .icons img.icon
	max-width: 40px
	max-height: 40px
	margin: 0.1rem
	&.interactable
		border: 4px double $gray-200
		border-radius: 4px
		transition: 0.2s ease-in-out
		&:not(.active):hover
			border-color: mix($gray-200, $primary, 75%)
			cursor: pointer
		&.active
			border-color: $primary

.btn-toolbar
	margin: 0.5rem 0

.custom-table
	margin-bottom: 2rem
	display: flex
	flex-direction: column
	border-radius: 5px 5px 0 0
	border-left: 1px solid $gray-200
	border-right: 1px solid $gray-200
	.body, .header
		display: flex
		flex-direction: column
		& > div
			transition: 0.2s ease
			padding: 0.25rem
			display: flex
			& > span
				display: flex
				align-items: center

	.body
		& > div:nth-child(2n)
			background: $gray-100

		& > div:hover
			background: $gray-200

	div > span
		padding: 0.1rem
	.header span
		font-weight: bolder
	.header > div
		border-radius: 5px
		border-top: 1px solid $gray-300
		border-bottom: 4px double $gray-300
	span.options
		justify-content: flex-end
		button
			margin: 0.1rem
	.icon
		border-radius: 4px


.products-table
	.body > div, .header > div
		display: grid
		grid-template-columns: 45px 2fr 100px 2fr 60px 76px
		grid-gap: 0.5rem

	.header > div > span
		&:nth-child(3), &:nth-child(5), &:nth-child(6)
			display: flex
			justify-content: center

	.body > div > span:nth-child(3)
		display: flex
		justify-content: center

	.options button
		min-width: 2rem
//.products-table div > span
//	flex: 1 1 20%
//	&:nth-child(1)
//		flex-basis: 50px
//		flex-shrink: 0
//		flex-grow: 0
//	&:nth-child(2)
//		flex-grow: 2
//	&:nth-child(4)
//		overflow: hidden
//		word-break: break-word
//		white-space: nowrap
//		flex-grow: 3
//	&:nth-child(5)
//		flex-basis: 10%

.categories-table div > *
	flex: 1 1 100%

.custom-table div > *
	flex: 1 1 20%
	&.negative
		color: $danger

.visibility
	transform: scale(0.75)

#popover-products
	padding: 0.5rem
	text-align: center