@import "~bootstrap/scss/bootstrap"

.orders
	.list-group-item
	//padding: 0.25rem 0.5rem
	.order
		display: grid
		grid-template-columns: 100px 1fr 150px
		& > div
			display: flex
			align-items: center
			justify-content: space-around
		.chrono
			display: flex
			flex-direction: column
			align-items: flex-start
			.date
				font-weight: bold
		.cost
			justify-content: flex-end
			font-size: 1.5rem
		.info
			display: flex
			flex-direction: column
			align-items: flex-start
			& > div
				width: 100%
				display: flex
				justify-content: space-between
	.order-products
		.product
			padding: 0.25rem 0
			display: grid
			grid-template-columns: 30px 1fr 30px 80px
			&:not(:last-child)
				border-bottom: 1px solid transparentize(black, 0.875)
			span
				display: flex
				align-items: center
				&:nth-child(2)
					margin-left: 0.5rem
				&:nth-child(3), &:last-child
					justify-content: flex-end
		img
			max-height: 30px

	.total-cost
		display: flex
		justify-content: flex-end
		align-items: center
		& > span
			font-size: 1.5rem
			margin-left: 1rem

.selected-order
	padding: 1rem
	border: 1px solid transparentize(black, 0.875)
	border-radius: 5px

	hr
		margin: 0.5rem 0

	h4, .id
		text-align: center
		margin: 0

	.id
		font-size: 0.7rem

	.date
		display: flex
		justify-content: space-between

.orders-list, .details
	overflow: scroll
	max-height: 500px
	padding-right: 0.75rem
