@import ~bootstrap/scss/bootstrap

.breadcrumb-container
	background-color: $gray-200

.form-label
	font-weight: bold
	width: 100%
	font-size: 1rem

.admin-home .custom-container
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-rows: repeat(2, 200px)
	grid-gap: 2rem

	a
		display: flex
		justify-content: center
		align-items: center
		text-transform: uppercase
		font-size: 2rem
		transition: 0.2s ease-in-out
		text-decoration: none

		div
			position: relative
			//background: red
			padding: 0.5rem 1rem
			z-index: 0
			&::before
				position: absolute
				content: ''
				background: $primary
				width: 0
				top: 0
				left: 50%
				height: 100%
				transition: 0.2s ease-in-out
				transform: translateX(-50%)
				border-radius: 1rem
				min-width: 0
				z-index: -1
				border: 0
			span
				z-index: 0

		&:hover div::before
			width: 100%
			min-width: 250px
			border: 6px double $light
		&:hover	span
				color: $light